@using RecipeBox.Models

 <h1>Welcome to Recipe Box!</h1>
   

@if (User.Identity.IsAuthenticated)
{
<button>@Html.ActionLink("See Recipes", "Index", "Recipes")</button>
<button>@Html.ActionLink("See Tags", "Index", "Tags")</button>
<button>@Html.ActionLink("See Account Details", "Index", "Account")</button>
<button>@Html.ActionLink("Search", "Index", "Search")</button>

<hr/>



}
else
{
  <h4>Please log in or create an account.</h4>
  <hr/>
  <button>@Html.ActionLink("Register", "Register", "Account")</button>
  <button>@Html.ActionLink("Log in", "Login", "Account")</button>
}

