@using RecipeBox.Models
@model RecipeBox.Models.Tag

<h2>Tag Details<h2>
    <hr />
    
    <h2>@Model.TagName</h2>

    @if (@Model.JoinEntities.Count == 0)
    {
      <h5>This tag does not have any Recipes.</h5>
    }
    else
    {
      <div class="card">
      <h3>Recipes in this Tag:</h3>

        @foreach (RecipeTag join in Model.JoinEntities)
        {
            <div style="display: flex; align-items: center; justify-content: space-between">
                <p>@Html.ActionLink($"{join.Recipe.RecipeName}", "Details", "Recipes", new { id = join.Recipe.RecipeId })</p>

                @using (Html.BeginForm("DeleteJoin", "Tags"))
                {
                  @Html.Hidden("joinId", @join.RecipeTagId)
                  <input type="submit" value="Delete" />
                }
            </div>
        }
</div>
    }

    <button>@Html.ActionLink("Back to list", "Index")</button>
    <button>@Html.ActionLink("Add a Recipe", "AddRecipe", new { id = Model.TagId })</button>
    <button>@Html.ActionLink("Edit this Tag", "Edit", new { id = Model.TagId })</button>
    <button>@Html.ActionLink("Delete this Tag", "Delete", new { id = Model.TagId })</button>
